.colour-black
{
    color: black;
}
.colour-black-background
{
    background-color: black;
}
.colour-lightblack-background
{
    background-color:#222222 ;
}
.colour-grey-background
{
    background-color: #4d4d4d ;
}
.color-white-background
{
    background-color: white;
}