h2
{
    margin-top: 2%;
    
}
*
{
    color: white;
}
.bg-grey
{
    background-color: #4d4d4d ;
}
.bg-lightBlack
{
    background-color:#222222 ;
}
.bg-black
{
    background-color: #000000;
}
.padding-top
{
    padding-top: 3%;
}
.margin-top
{
    margin-top: 1%
}
.margin-bottom
{
    margin-bottom: 1%;
}
.h1Spacing
{
    margin-top: 1%;
    margin-bottom: 1%;
}
.maxHight
{
    height: 70%;
}
.level2
{
    height: 40%;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
}
.roundedImage img
{
    border-radius: 50%;
}
.smallImage img
{
    height: 19%;
    width: auto;
}
.text-right
{
    float: right;
}
.text-left
{
    float: left;
}